<?xml version="1.0"?>
<launch>
  <arg name="desired_object"       default="2_B.model" />
  <arg name="experiment_label"     default="Oct_15_Exp_0_Id_2_PTCC_" />

  <node name="central_controller" pkg="central_controller" type="central_controller" output="screen">
    <param name="desired_object"       value="$(arg desired_object)"/>
    <param name="experiment_label"     value="$(arg experiment_label)"/>
  </node>
</launch>
